.main .bars-hero {
    padding-top: 50px;
}
.main {
    background-color: black;
}
.bars-width{
    width:80%;
}
.bars-hero .card {
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 10%;
}
.bars-hero .card-body {
    background-color: black;
    color: white;
}
