/* ----------------- TYPOGRAPHY ---------------*/
body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
}

.text-white {
    color: white;
}
.navigation a {
    font-weight: 500;
    letter-spacing: 2px;
}
/* ----------------- SOCIAL TOP ---------------*/
.socials-bar {
    display: flex;
    justify-content: flex-end;}
.socials {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.socials img {
    width: 20px;

}
#socials {
    background-color: black;
}

/* ----------------- NAVIGATION TOP ---------------*/

.navigation {
    background-color: black;
    border-bottom: 1px solid #353535;

}
.logo-ilit img {
    width: 400px;
}
.dropdown-menu a {
    text-align: left;
}
.nav-item a:hover {
    color: #FF000C!important;
}
.nav-item {
    width: 25%;
    text-align: center;
}
.navbar-nav {
    width: 100%;
    margin-left: 20px;
    padding-top: 22px;
  }




/* ----------------- HERO CONTENT ---------------*/


.home-hero {
    background-image: url(../images/bg-home-top.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-hero .container-fluid {
    height: 800px;
    width: 80%;
    padding-top: 100px;
}
.home-hero .lead {
    margin-left: 50%;
}
.home-hero h1 {
    margin-left: 50%;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 20px;
}
.main {
    background-color: black;
}
.home-feature .container-fluid {
    width: 80%;
    height: 600px;
    margin: 0 auto;
}
.home-feature img {
    margin-top: 5%;
    width: 100%;
}

.footer .container-fluid {
    background-image: url(../images/bg-footer-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 3%;
}
.btn-primary {
    background-color: black;
    color: red;
    border: 1px solid red;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .btn-primary:hover {
      background-color: rgb(118, 1, 1);
      color: white;
      border: 1px solid rgb(118, 1, 1);
}
footer .form-control {
    width: 100%;
}